/* disable underline for all links */
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

#content {
    font-size: 24px !important;
    line-height: 0.9em;
    padding-left: 30px;
    padding-right: 30px;
}

#content > * {
    overflow-y: hidden;
    white-space: pre-wrap;
    overflow-x: hidden;
}

/* hide the buttons by default */
.theme-btn > * {
    display: none;
}

.hover-block {
    font-family: 'CompacityBlock';
}

.hover-block:hover {
    font-family: inherit;
}

/* make it printable, the UI should not be visible */
@media print {
    body > .navbar,
    body > footer {
        display: none;
    }

    body {
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

